<article class="post">
    <div class="post-header">
        <h3 class="post-title">{{post.title}}</h3>
        <p>Posted by {{post.user.username}} <br>
            on {{format_date post.created_at}}
        </p>
    </div>
    <div class="post-body">
        <p>({{post.post_body}})</p>
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        Comment
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}