:root {
    --gainsboro: #d9ead3;
    --dim-gray: #787371;
    --black: #231010;
}

html, body {
    background-color: var(--gainsboro);
    color: var(--black);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: var(--black);
    padding: 20px;
}

.top {
    width: 80%;
    margin: auto;
}

header h1 {
    background-color: var(--gainsboro);
    width: 222px;
    padding: 8px;
    box-shadow: 5px 5px var(--dim-gray);
    border-radius: 8px;
    margin-bottom: 15px;
}

header a {
    color: var(--black);
    text-decoration: none;
}

nav a {
    color: var(--gainsboro);
    margin: 0 50px 0 0;
}

#logout {
    border: none;
    background: var(--black);
    color: var(--gainsboro);
    font-size: 1rem;
    cursor: pointer;
}

main {
    width: 80%;
    margin: auto;
}

.post-header {
    background-color: var(--black);
    color: var(--gainsboro);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header p {
    text-align: right;
}

.post-body p {
    padding: 0 20px;
}

article.post {
    border: solid 2px var(--black);
    margin: 15px;
}

form.comment-form {
    border: solid 2px var(--black);
    margin: 15px;
    padding: 20px;
}

.comment-form textarea {
    width: 99%;
}

section.comment {
    border: solid 2px var(--black);
    margin: 15px;
    padding: 20px
}

.meta {
    text-align: center;
    margin-top: 15px;
}

.login-header, .signup-header {
    background-color: var(--black);
    color: var(--gainsboro);
    padding: 5px 20px;
    margin: 15px 0 0 0;
}

.login-form, .signup-form {
    padding: 10px 20px;
    border: solid 2px var(--black);
}

.login-form input, .signup-form input {
    width: 98%;
    margin: 5px 0;
    padding: 5px;
}

.login-form button, .signup-form input {
    margin: 10px 0;
}